[Unit]
Description=Mirror API Service
After=network.target

[Service]
User=mirror-api
Group=mirror-api
WorkingDirectory=API_PATH
ExecStart=npm start
ExecSearchPath=NODE_PATH
ExecSearchPath=NPM_PATH
ExecSearchPath=/usr/bin
ExecSearchPath=/bin
Restart=always
Environment=PORT=80

[Install]
WantedBy=multi-user.target
