[Unit]
Description=Mirror API Service
After=network.target

[Service]
User=mirror-api
Group=mirror-api
WorkingDirectory=API_PATH
ExecStart=NPM_CMD
ExecSearchPath=EXEC_SEARCH_PATH
Restart=always

[Install]
WantedBy=multi-user.target
